textarea {
    height: 200px !important;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.rating .star-container {
    width: 30px;
    height: 25px;
}

.rating span {
    float: right;
    position: relative;
}

.rating span label {
    display:inline-block;
    width: 30px;
    height: 25px;
    text-align:center;
    color: #000;
    background: #fff;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
}

.rating span input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating span:hover ~ span .fa-star-o:before,
.rating span:hover .fa-star-o:before,
.rating span.checked .fa-star-o:before,
.rating span.checked ~ span .fa-star-o:before {
    content: "\f005";
}
